In [2]:
import pandas as pd
import ipywidgets as widgets
import matplotlib.pyplot as plt
from prophet import Prophet
from IPython.display import display

In [3]:
file = "overview-stock-pangan.csv"
df = pd.read_csv(file)

#### Menambahkan data baru

In [4]:
bulan_dict = {
    "Januari": 1, "Februari": 2, "Maret": 3, "April": 4, "Mei": 5, "Juni": 6, 
    "Juli": 7, "Agustus": 8, "September": 9, "Oktober": 10, "November": 11, "Desember": 12
}

kota_dropdown = widgets.Dropdown(
    options=sorted(df["kota"].unique().tolist()) if not df.empty else [],
    description="Kota:",
    style={'description_width': 'initial'}
)

bahanpokok_dropdown = widgets.Dropdown(
    options=sorted(df["bahanpokok"].unique().tolist()) if not df.empty else [],
    description="Bahan Pokok:",
    style={'description_width': 'initial'}
)

tahun_input = widgets.IntText(description="Tahun:")

bulan_dropdown = widgets.Dropdown(
    options=bulan_dict.keys(),
    description="Bulan:",
    style={'description_width': 'initial'}
)

stok_input = widgets.IntText(description="Stok:")

In [ ]:
add_button = widgets.Button(description="Tambah Data")

✅ Data berhasil ditambahkan!

,kota,bahanpokok,tahun,bulan,stok,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
1256,kota_tegal,dagingayamras,2024,12,1.317460e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1257,kota_tegal,telur,2024,12,6.288660e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1258,kota_tegal,gulapasir,2024,12,1.354513e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1259,kota_tegal,minyakgoreng,2024,12,2.902711e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1260,kab_banjarnegara,bawangputih,2025,2,5.521000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
def add_data(b):
    new_data = {
        "kota": kota_dropdown.value,
        "bahanpokok": bahanpokok_dropdown.value,
        "tahun": tahun_input.value,
        "bulan": bulan_dict[bulan_dropdown.value],
        "stok": stok_input.value
    }
    
    global df
    df = pd.concat([df, pd.DataFrame([new_data])], ignore_index=True)
    
    df.to_csv(file, index=False)
    
    print("✅ Data berhasil ditambahkan!")
    display(df.tail())

add_button.on_click(add_data)

In [8]:
display(kota_dropdown, bahanpokok_dropdown, tahun_input, bulan_dropdown, stok_input, add_button)

Dropdown(description='Kota:', options=('kab_banjarnegara', 'kab_banyumas', 'kab_batang', 'kab_blora', 'kab_boy…

Dropdown(description='Bahan Pokok:', options=('bawangmerah', 'bawangputih', 'beras', 'cabaibesar', 'cabairawit…

IntText(value=0, description='Tahun:')

Dropdown(description='Bulan:', options=('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agust…

IntText(value=0, description='Stok:')

Button(description='Tambah Data', style=ButtonStyle())