In [13]:
import pandas as pd
import ipywidgets as widgets
from IPython.display import display

In [14]:
file = "overview-stock-pangan.csv"
df = pd.read_csv(file)

#### Print 5 Data Teratas

In [15]:
df.head()

               kota   bahanpokok  tahun  bulan     stok
0  kab_banjarnegara        beras   2024     11  42500.0
1  kab_banjarnegara       jagung   2024     11   1515.0
2  kab_banjarnegara      kedelai   2024     11  21000.0
3  kab_banjarnegara  bawangmerah   2024     11    500.0
4  kab_banjarnegara  bawangputih   2024     11    200.0

#### Bahan Pokok yang tersedia

In [16]:
print("Bahan Pokok yang tersedia adalah :", df["bahanpokok"].unique())

Bahan Pokok yang tersedia adalah : ['beras' 'jagung' 'kedelai' 'bawangmerah' 'bawangputih' 'cabaibesar'
 'cabairawit' 'dagingsapi' 'dagingayamras' 'telur' 'gulapasir'
 'minyakgoreng']

#### Mencari values kota dan menampilkannya berdasarkan input

In [9]:
kota_input = input("Masukkan Kota yang ingin dicari : ")

In [11]:
filter_kota = df[df["kota"] == kota_input]

if filter_kota.empty:
    print("No data found for the given bahanpokok.")
else:
    display(filter_kota)

              kota     bahanpokok  tahun  bulan          stok
396  kota_semarang          beras   2024     11  20641.537903
397  kota_semarang         jagung   2024     11           NaN
398  kota_semarang        kedelai   2024     11      0.000000
399  kota_semarang    bawangmerah   2024     11      0.000000
400  kota_semarang    bawangputih   2024     11      0.000000
401  kota_semarang     cabaibesar   2024     11      0.000000
402  kota_semarang     cabairawit   2024     11      0.000000
403  kota_semarang     dagingsapi   2024     11      0.000000
404  kota_semarang  dagingayamras   2024     11      0.000000
405  kota_semarang          telur   2024     11   2383.573009
406  kota_semarang      gulapasir   2024     11   4712.359347
407  kota_semarang   minyakgoreng   2024     11   8949.633911

#### Mencari values berdasarkan input pada dropdown

In [24]:
kota_dropdown = widgets.Dropdown(
    options=["All"] + sorted(df["kota"].unique().tolist()),
    description="Kota:",
    style={'description_width': 'initial'}
)

bahanpokok_dropdown = widgets.Dropdown(
    options=["All"] + sorted(df["bahanpokok"].unique().tolist()),
    description="Bahan Pokok:",
    style={'description_width': 'initial'}
)

tahun_dropdown = widgets.Dropdown(
    options=["All"] + sorted(df["tahun"].unique().tolist()),
    description="Tahun:",
    style={'description_width': 'initial'}
)

bulan_dropdown = widgets.Dropdown(
    options=["All"] + sorted(df["bulan"].unique().tolist()),
    description="Bulan:",
    style={'description_width': 'initial'}
)

stok_dropdown = widgets.Dropdown(
    options=["All"] + sorted(df["stok"].unique().tolist()),
    description="Stok:",
    style={'description_width': 'initial'}
)

In [26]:
# Fungsi untuk menampilkan data berdasarkan filter yang dipilih
def update_table(kota, bahanpokok, tahun, bulan):
    filtered_df = df.copy()
    
    # Terapkan filter jika tidak memilih "All"
    if kota != "All":
        filtered_df = filtered_df[filtered_df["kota"] == kota]
    if bahanpokok != "All":
        filtered_df = filtered_df[filtered_df["bahanpokok"] == bahanpokok]
    if tahun != "All":
        filtered_df = filtered_df[filtered_df["tahun"] == tahun]
    if bulan != "All":
        filtered_df = filtered_df[filtered_df["bulan"] == bulan]

    # Tampilkan seluruh kolom
    if filtered_df.empty:
        print("Tidak ada data yang sesuai dengan filter yang dipilih.")
    else:
        display(filtered_df)

# Interaktif dengan widget
widgets.interactive(
    update_table,
    kota=kota_dropdown,
    bahanpokok=bahanpokok_dropdown,
    tahun=tahun_dropdown,
    bulan=bulan_dropdown
)

interactive(children=(Dropdown(description='Kota:', index=6, options=('All', 'kab_banjarnegara', 'kab_banyumasâ€¦